$font-primary: Roboto, "Helvetica Neue", sans-serif;

$breakpoint-mobile: 599px;
$breakpoint-tablet: 600px;
$breakpoint-desktop: 1200px;

$color-primary: #fff;
$color-background: #283593; // TODO: Remove this background color (here temporary for development visibility).
$color-link: #07c;
$color-link-hover: #0056b3;
$secondary: purple;